<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <appSettings>
    <add key="EastFive.Azure.Storage.Backup.ConfigFile" value="backup.json"/>
    <add key="EastFive.Azure.Storage.Backup.WakeUp" value="00:30:00"/>
  </appSettings>
  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="100" />
    </connectionManagement>
  </system.net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <log4net>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="..\EastFiveAzureStorageBackupLogs\EastFiveAzureStorageBackup.log"/>
      <appendToFile value="true"/>
      <rollingStyle value="Composite"/>
      <!-- roll by date and size -->
      <countDirection value="1"/>
      <!-- *.1.log is older, *.2.log is newer, *.log is newest -->
      <datePattern value="_yyyy_MM_dd"/>
      <!-- roll each day logs occur -->
      <maximumFileSize value="5MB"/>
      <!-- roll after size is reached -->
      <preserveLogFileNameExtension value="true"/>
      <!-- rolled files use same extension of .log -->
      <immediateFlush value="true"/>
      <!-- true means write immediately to file rather than buffering messages -->
      <maxSizeRollBackups value="3"/>
      <!-- number of times to roll file before the first roll is deleted -->
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level %logger - %message%newline"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="TRACE"/>
      </filter>
    </appender>
    <!-- for tracing, use SysInternal's DebugView to capture this output -->
    <appender name="Trace" type="log4net.Appender.OutputDebugStringAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level - [EastFiveAzureStorageBackupService] %message%newline"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="TRACE"/>
      </filter>
    </appender>
    <root>
      <level value="TRACE"/>
      <!-- minimum log level to include in output -->
      <appender-ref ref="RollingFile"/>
      <appender-ref ref="Trace"/>
      <!-- the appenders to use -->
    </root>
  </log4net>
</configuration>
